:root {
  --main-color: #0b0a13;
  --color-hover-link: #4b1fd6;
  --color-class: #ffaa04;
  --color-score: #ffd80e;
  --color-end-gradient: #101328;
  --color-start-gradient: #0d1315;
  --color-follower: #f22525;
  --color-opacity-follower: #f77c7c;
  --color-player: #ff2d6c;
}
